//**
// Main Layout Styles
//**
.accordion {
  padding: 0 100px;
  @include responsive($big-break) {
    padding: 0 10px;
  }
  &-block {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    &.is-show {
      .accordion-icon {
        transform: rotate(90deg);
      }
    }
  }
  &-icon {
    width: 20px;
    margin-top: 7px;
    transition: all 0.3s ease-in;
  }
}
.box-faq {
  color: #fdb440;
  width: calc(100% - 20px - 15px);
  margin-left: 15px;

  &-question {
    font-size: 18px;
    cursor: pointer;
    @include responsive($big-break) {
      font-size: 15px;
    }
  }
  &-answer {
    font-size: 16px;
    color: #fff;
    display: none;
    @include responsive($big-break) {
      font-size: 14px;
    }
  }
}
.form-ask {
  margin-top: 100px;
  padding: 0 100px 100px;
  margin-bottom: 0;
  @include responsive($big-break) {
    margin-top: 50px;
    padding: 0 10px;
  }
  label {
    text-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.5);
  }
}
