//**
// Navigation
//**
.header {
  background: url("/img/bg-nav.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    height: 8px;
    left: 0;
    right: 0;
    bottom: -8px;
    position: absolute;
    background: url("/img/nav-border.jpg") no-repeat center;
    background-size: cover;
    z-index: 2;
    @include responsive($big-break) {
      height: 4px;
      bottom: -4px;
    }
  }
  .container {
    max-width: 1446px;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive($big-break) {
    width: 0;
    height: 0;
    opacity: 0;
    background: rgba($color: #000000, $alpha: 0.48);
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    z-index: 120;
    box-shadow: inset -5px 0 8px 0 rgba(50, 50, 50, 0.32);
    -webkit-transition: all 0.5s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    &.is-opened {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      visibility: visible;
      transform: scale3d(1, 1, 1);
    }
  }

  &-item {
    position: relative;
    height: 88px;
    width: calc(100% / 4);
    text-align: center;
    @include responsive($big-break) {
      width: 100%;
      height: auto;
    }
    &::after {
      content: "";
      width: 4px;
      height: 100%;
      right: 0;
      background: url("/img/bg-border.jpg") no-repeat right center;
      background-size: cover;
      position: absolute;
      top: 0;
      @include responsive($big-break) {
        width: 100%;
        height: 2px;
        top: auto;
        bottom: 0;
        left: 0;
        background-image: url(/img/line.jpg);
      }
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
    &.nav-brand {
      display: none;
    }

    &.has-sub {
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background: url("/img/icon-arrow-down.png") no-repeat center;
        background-size: cover;
        margin: auto;
        transition: all 0.3s ease-in;
        @include responsive($big-break) {
          width: 15px;
          height: 15px;
          left: auto;
          right: 20px;
          top: 27px;
          bottom: auto;
          transform: translateY(0);
        }
      }
      &.focus {
        .nav-sub {
          opacity: 1;
          visibility: visible;
        }
        &::before {
          transform: rotate(180deg) translateY(-5px);
          @include responsive($big-break) {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &-link {
    color: #fdb440;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 25px 5px;
    display: block;
    position: relative;
    z-index: 2;
    cursor: pointer;
    @include responsive($big-break) {
      padding: 20px;
      font-size: 1.25rem;
      text-align: left;
    }
  }
}
.nav-mobile {
  display: none;
  @include responsive($big-break) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .app-install {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 5px 0;
    li {
      width: 108px;
      margin-left: 10px;
    }
  }

  #nav-toggle {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    background: transparent;
    box-shadow: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 40px;
    height: 32px;
    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
      &:checked {
        & ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-9px, -18px);
          &:nth-last-child(2) {
            transform: rotate(-45deg) translate(-2px, 12px);
          }
          &:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
        }
        & ~ ul {
          -webkit-transform: none;
          transform: none;
        }
      }
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      &:nth-last-child(2) {
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
      }
    }
  }

  .mobile-logo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
    margin: auto;
    display: inline-block;
    width: 168px;
  }
}
.nav-sub {
  background: rgba(0, 0, 0, 0.52);
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 8px 0 0;
  padding-left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: all 0.3s ease-in;
  @include responsive($big-break) {
    transition: none;
    position: relative;
    top: auto;
    opacity: 1;
    display: none;
    visibility: visible;
    margin: 0 20px;
  }
  li {
    height: 80px;
    border-bottom: 2px solid #fdb440;
    @include responsive($big-break) {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.68);
      height: 60px;
    }
    a {
      text-decoration: none;
      height: 100%;
      color: #fdb440;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      transition: all 0.2s ease-in;
      @include responsive($big-break) {
        color: #fff;
        font-size: 1.25rem;
      }
      &:hover,
      &.active {
        background: rgba($color: #fdb440, $alpha: 0.22);
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
.homepage {
  .nav-item {
    width: calc((100% - 309px) / 4);
    @include responsive($big-break) {
      width: 100%;
    }
    &.nav-brand {
      display: block;
      @include responsive($big-break) {
        display: none;
      }
      .nav-link {
        position: absolute;
        left: 0;
        right: 0;
        top: 18px;
        z-index: 10;
        padding-top: 0;
      }
    }
  }
}
