//**
// Homepage
//**

.box-main {
  display: flex;
  justify-content: flex-end;
  position: relative;
  &-bg {
    width: 100%;
    height: 80vh;
    @include responsive($big-break) {
      height: 71vh;
    }
    img {
      width: 100%;
      &.pc {
        @include responsive($big-break) {
          display: none;
        }
      }
      &.sp {
        display: none;
        @include responsive($big-break) {
          display: block;
        }
      }
    }
  }
  &-rating {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    .container {
      height: 100%;
    }
  }
}
.box-rating {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 120px;
  @include responsive($big-break) {
    padding-top: 125px;
  }
  &-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
  .rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #888888;
    font-size: 25px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
    span {
      margin: 0 5px;
      background: url("/img/star.png") no-repeat center;
      background-size: cover;
      width: 35px;
      height: 35px;
      display: inline-block;
      @include responsive($big-break) {
        width: 25px;
        height: 25px;
        margin: 0 2px;
      }

      &.star1 {
        background-image: url("/img/star1.png");
      }

      &.star2 {
        background-image: url("/img/star2.png");
      }

      &.star3 {
        background-image: url("/img/star3.png");
      }
    }
  }

  .average {
    width: 200px;
    height: 200px;
    background: url("/img/bg-average.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @include responsive($big-break) {
      width: 100px;
      height: 100px;
    }
    &-val {
      display: flex;
      align-items: flex-end;
      .icon-dot {
        margin: 0 5px;
        @include responsive($big-break) {
          width: 5px;
        }
      }
    }
    img {
      max-width: 40px;
      max-height: 50px;
      @include responsive($big-break) {
        max-width: 30px;
        max-height: 38px;
      }
    }
  }

  .vote {
    position: relative;
    width: 250px;
    height: 60px;
    background: url("/img/bg-vote.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdb440;
    font-size: 24px;
    @include responsive($big-break) {
      width: 125px;
      height: 30px;
      font-size: 12px;
    }
  }
}
.slider {
  position: relative;
  margin-bottom: 50px;
  .swiper-pagination {
    left: 0;
    right: 0;
    bottom: -40px;
    margin: auto;
    .swiper-pagination-bullet {
      width: 30px;
      height: 30px;
      background: url("/img/swiper-pagina.png") no-repeat center;
      background-size: cover;
      margin: 0 5px;
      &.swiper-pagination-bullet-active {
        background-image: url("/img/swiper-pagina-active.png");
      }
    }
  }
  // .swiper-slide {
  //   width: 230px !important;
  // }
  .swiper-control {
    .swiper-button-prev,
    .swiper-button-next {
      width: 21px;
      height: 88px;
    }
    .swiper-button-next {
      background: url("/img/swiper-arrow-right.png") no-repeat center;
      background-size: cover;
    }
    .swiper-button-prev {
      background: url("/img/swiper-arrow-left.png") no-repeat center;
      background-size: cover;
    }
  }
}
.list-store {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
  @include responsive($big-break) {
    flex-direction: column;
    position: relative;
    padding-top: 106px;
    margin-bottom: 35px;
  }

  &-avatar {
    width: 200px;
    @include responsive($big-break) {
      width: 108px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-download {
    display: flex;
    align-items: flex-end;
    width: calc(100% - 100px - 16px);
    @include responsive($big-break) {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &-link {
    margin-left: 8px;
    width: calc((100% - 200px) / 4);
    @include responsive($big-break) {
      display: none;
    }

    .btn {
      min-width: 100%;
      @include responsive($big-break) {
        min-width: auto;
        height: auto;
      }
      img {
        width: 50px;
      }
    }
  }
  &-qcode {
    width: 100px;
    margin-left: 16px;
    @include responsive($big-break) {
      position: absolute;
      bottom: 0;
      right: 20px;
      width: 130px;
    }
    img.qcode {
      @include responsive($big-break) {
        display: none;
      }
    }
    img.download {
      display: none;
      @include responsive($big-break) {
        display: block;
      }
    }
  }
}
.list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  background: url(/img/bg-menu.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
  font-size: 17px;
  @include responsive($big-break) {
    font-size: 14px;
  }
  &-item {
    border-left: 1px solid #fdb440;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 3px;
    width: calc((100% - 50px) / 4);
    text-align: center;
    position: relative;
    @include responsive($big-break) {
      width: calc((100% - 30px) / 4);
      padding: 7px 2px;
    }
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      width: 30px;
    }
    a {
      position: relative;
      text-decoration: none;
      display: inline-block;
      color: #fff;
      transition: all 0.3s ease-in;
      &::after {
        height: 2px;
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
        background: transparent;
        position: absolute;
        transition: all 0.3s ease-in;
      }
      &:hover,
      &.active {
        color: #fdb440;
        &::after {
          background: url("/img/line.jpg") no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}
.list-news {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    padding: 5px 10px;
    font-size: 20px;
    border-bottom: 2px solid #747474;
    @include responsive($big-break) {
      font-size: 14px;
    }

    & > span {
      padding-right: 15px;
      margin-right: 16px;
      border-right: 2px solid #747474;
    }
    &:last-child {
      border-bottom: 0;
    }
    a {
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease-in;
      &:hover {
        color: #fdb440;
      }
    }
  }
}
.choose-figure {
  display: flex;
  justify-content: space-between;
  padding-left: 180px;
  position: relative;
  padding-bottom: 100px;
  @include responsive($big-break) {
    padding-left: 0;
    margin-bottom: 50px;
    display: block;
    padding-bottom: 70px;
  }
  &-pagination {
    display: flex;
    flex-direction: column;
    width: 150px;
    left: 20px;
    @include responsive($big-break) {
      width: 100%;
      flex-direction: row;
      bottom: -10px;
      left: 0;
      justify-content: center;
    }

    .swiper-pagination-bullet {
      width: 130px;
      height: 130px;
      display: block;
      background-position: center;
      background-size: cover;
      margin-bottom: 20px;
      @include responsive($big-break) {
        width: 63px;
        height: 63px;
        margin: 0 10px;
      }
      &:focus {
        outline: 0;
      }

      &:nth-child(1) {
        background-image: url(/img/1.png);
        &.swiper-pagination-bullet-active {
          background-image: url(/img/1-active.png);
        }
      }
      &:nth-child(2) {
        background-image: url(/img/2.png);
        &.swiper-pagination-bullet-active {
          background-image: url(/img/2-active.png);
        }
      }
      &:nth-child(3) {
        background-image: url(/img/3.png);
        &.swiper-pagination-bullet-active {
          background-image: url(/img/3-active.png);
        }
      }
      &:nth-child(4) {
        background-image: url(/img/4.png);
        &.swiper-pagination-bullet-active {
          background-image: url(/img/4-active.png);
        }
      }
    }
  }
  .swiper-container {
    margin-right: -50px;
    @include responsive($big-break) {
      margin-right: 0;
      width: 100%;
    }
  }
}
.box-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include responsive($big-break) {
    flex-direction: row-reverse;
  }
  .character {
    max-width: 430px;
    display: inline-block;
    padding-left: 20px;
    @include responsive($big-break) {
      width: 190px;
      padding-left: 0;
    }
  }
  .box-wiza {
    @include responsive($big-break) {
      width: calc(100% - 190px);
      margin-left: 10px;
    }
  }
}
.box-wiza {
  position: relative;
  &-text {
    max-width: 315px;
    margin-bottom: -48px;
    position: relative;
    z-index: 2;
    margin: auto;
    @include responsive($big-break) {
      max-width: 120px;
      top: 34px;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
    }
  }
  &-content {
    position: relative;
    max-width: 500px;
    font-family: "UVN Mang Cau";
    font-weight: bold;
    z-index: 1;
    &::before,
    &::after {
      content: "";
      height: 74px;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 2;
      @include responsive($big-break) {
        height: 30px;
      }
    }
    &::before {
      background: url("/img/wiza-head.png") no-repeat center;
      background-size: cover;
      top: 0;
    }
    &::after {
      background: url("/img/wiza-footer.png") no-repeat center;
      background-size: cover;
      bottom: 0;
    }
  }
  &-inner {
    padding: 80px 50px;
    position: relative;
    color: #fbe7c2;
    font-size: 19px;
    @include responsive($big-break) {
      font-size: 12px;
      padding: 100px 20px 40px;
      text-align: center;
      p {
        font-size: 10px;
      }
    }
    p {
      position: relative;
      z-index: 1;
      margin-bottom: 0;
    }
    &::after {
      content: "";
      left: 20px;
      right: 20px;
      top: 30px;
      bottom: 30px;
      position: absolute;
      background: rgba($color: #000000, $alpha: 0.6);
      z-index: 0;
      @include responsive($big-break) {
        left: 10px;
        right: 10px;
        top: 20px;
        bottom: 15px;
      }
    }
  }
}

.nav-lib {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  margin-bottom: 20px;
  @include responsive($big-break) {
    padding: 10px;
  }
  ul {
    list-style: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    margin: 0;
    background: url("/img/bg-nav-lib.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    @include responsive($big-break) {
      font-size: 16px;
      padding: 0 10px;
    }
    li {
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #dedede;
        display: block;
        margin-right: 50px;
        padding: 5px 0 10px;
        position: relative;
        transition: all 0.3s ease-in;
        @include responsive($big-break) {
          margin-right: 20px;
        }
        &::after {
          height: 2px;
          width: 100%;
          content: "";
          bottom: 5px;
          left: 0;
          background: transparent;
          position: absolute;
          transition: all 0.3s ease-in;
        }
        &:hover,
        &.active {
          color: #fdb440;
          &::after {
            background: url("/img/line.jpg") no-repeat center;
            background-size: cover;
          }
        }
      }
    }
  }
}
.box-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include responsive($big-break) {
    justify-content: space-around;
  }
  .btn {
    width: 265px;
    height: 85px;
    @include responsive($big-break) {
      width: 169px;
      height: 51px;
    }
  }
}
.content-popup {
  .page-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  &-img {
    padding: 0 15%;
    margin-bottom: 20px;
  }
}
.box-media {
  @include responsive($big-break) {
    .group {
      flex-direction: row;
      .span3 {
        width: calc((100% - 2.1277% * 2) / 2);
        margin-left: 2.1277%;
      }
    }
  }
  .tabs-content {
    padding-bottom: 50px;
  }
  .tabs-detail {
    a {
      overflow: hidden;
      position: relative;
      line-height: 0;
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.32);
        position: absolute;
        transition: all 0.3s ease-in;
      }
      img {
        transition: all 0.3s ease-in;
      }
      &:hover {
        &::before {
          transform: scale(0);
          border-radius: 50%;
        }
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
.tabs-news {
  .tabs-detail {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    margin: 0 0 15px;
    border-top: 5px solid #747474;
    height: 212px;
    @include responsive($big-break) {
      padding: 10px;
    }
  }
}
.enty-header {
  border-bottom: 2px solid #a5a5a5;
  margin-bottom: 20px;
  &-title {
    color: #fdb440;
    font-size: 32px;
    margin-bottom: 1rem;
    @include responsive($big-break) {
      font-size: 18px;
    }
  }
  &-category {
    font-size: 26px;
    padding-bottom: 3px;
    @include responsive($big-break) {
      font-size: 14px;
    }
    .pushed-cat {
      padding-right: 1rem;
      border-right: 1px solid #a5a5a5;
      display: inline-block;
      line-height: 1.1;
      @include responsive($big-break) {
        padding-right: 0.75rem;
      }
    }
    .pushed-date {
      font-size: 20px;
      padding-left: 1rem;
      display: inline-block;
      line-height: 1.1;
      @include responsive($big-break) {
        font-size: 13px;
        padding-left: 0.75rem;
      }
    }
  }
}
.loadmore {
  display: none;
  text-align: center;
  @include responsive($big-break) {
    display: block;
  }
  span {
    display: inline-block;
  }
}

.fancybox {
  &.video {
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 50px solid rgba($color: #fff, $alpha: 0.8);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.tabs-page {
  .tabs-link {
    display: flex;
    padding: 5px 10px;
    position: relative;
    margin-bottom: 30px;
    @include responsive($big-break) {
      padding: 5px 0;
      margin-bottom: 20px;
    }
    &::after {
      content: "";
      height: 4px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: url(/img/nav-border.jpg) no-repeat center;
      background-size: cover;
      z-index: 2;
    }
    .tabs-page-item {
      margin-right: 60px;
      @include responsive($big-break) {
        margin-right: 15px;
      }
      a {
        display: block;
        font-size: 34px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        color: #fff;
        @include responsive($big-break) {
          font-size: 16px;
        }
        &::after {
          height: 2px;
          width: 100%;
          content: "";
          bottom: 5px;
          left: 0;
          background: transparent;
          position: absolute;
          -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }
        &.active {
          color: #fdb440;
          &::after {
            background: url(/img/line.jpg) no-repeat center;
            background-size: cover;
            @include responsive($big-break) {
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .tabs-content {
    .list-news {
      li {
        border-bottom: 0;
      }
    }
    .enty-header {
      border-bottom: 0;
      margin-bottom: 0;
      .enty-header-category {
        border-bottom: 2px solid #a5a5a5;
      }
    }
  }
}
.page-new {
  .content-popup {
    background: rgba($color: #000000, $alpha: 0.42);
  }
}
.box-pagina {
  text-align: center;
  margin-top: 30px;
}
.pagination {
  display: inline-flex;
  margin: auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  &-link {
    padding: 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    display: block;
    border-left: 1px solid #fff;
    width: 70px;
    text-align: center;
    @include responsive($big-break) {
      width: 40px;
      padding: 5px;
      font-size: 12px;
    }
    &:hover,
    &.current {
      color: #fdb440;
    }
  }
}
