//**
// Main Layout Styles
//**
.main {
  background: url("/img/main-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 88px);
  @include responsive($big-break) {
    background-image: url(/img/mobile/main-bg.jpg);
  }
}

.heading {
  background: url("/img/bg-heading.png") no-repeat center;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  color: #fdb440;
  padding: 10px 0;
  font-size: 36px;
  text-shadow: 0px 1px 1px #89531b, 0 0 0 #89531b, 0px 2px 1px #89531b;
  @include responsive($big-break) {
    font-size: 18px;
    background-image: url("/img/mobile/bg-heading.png");
    background-size: auto 100%;
  }
  &.heading-sp {
    display: none;
    @include responsive($big-break) {
      display: block;
      margin-bottom: 30px;
    }
  }
}

.content {
  margin-top: -300px;
  position: relative;
  z-index: 5;
  @include responsive($big-break) {
    margin-top: -150px;
  }
}

.right-menu {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  @include responsive($big-break) {
    display: none;
  }

  &-inner {
    position: relative;
    transition: all 0.3s ease-in;
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      height: 50px;
      left: -20px;
    }
    &::after {
      background: url("/img/right-menu-footer.png") no-repeat center;
      background-size: cover;
      bottom: -27px;
    }
    &::before {
      background: url("/img/right-menu-header.png") no-repeat center;
      background-size: cover;
      top: -37px;
    }
  }
  &.show {
    .right-menu-inner {
      transform: translateX(100%);
      margin-right: -20px;
    }
    .box-control {
      right: calc(100% + 20px);
    }
    #sidebar-hide {
      display: block;
      li {
        a {
          svg {
            path {
              fill: #fdb440;
            }
          }
        }
        & + li {
          border-top-color: #fdb440;
        }
      }
    }
    .right-menu-arrow {
      background: transparent;
      img {
        transform: rotate(0);
      }
    }
  }
  ul {
    list-style: none;
    background: rgba($color: #000000, $alpha: 0.8);
    padding: 20px 10px 30px;

    li {
      .btn {
        width: 150px;
        height: 49px;
        &.card {
          flex-direction: column;
          background-image: url(/img/btn-card.jpg);
          height: 151px;
          font-size: 24px;
          span {
            width: 100px;
            position: relative;
            &::before {
              content: "";
              width: 40px;
              height: 42px;
              position: absolute;
              background: url("/img/icon-star.png") no-repeat center;
              background-size: cover;
              right: -7px;
              top: -7px;
              transition: all 0.3s;
              animation: carAnimate 2s infinite 1s;
            }
          }
          &:hover,
          &:active {
            background-image: url(/img/btn-card-active.jpg);
          }
        }
      }
      & + li {
        margin-top: 8px;
      }
    }
    &#sidebar-hide {
      display: none;
      transition: all 0.3s ease-in;
      padding-bottom: 20px;
      li {
        a {
          svg {
            width: 23px;
          }
        }
        & + li {
          border-top: 1px solid #d9d9d9;
          padding-top: 15px;
        }
      }
    }
  }

  &-arrow {
    display: inline-block;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.58);
    img {
      transform: rotate(180deg);
      transition: all 0.01s ease-in;
    }
  }
  .box-control {
    position: absolute;
    transition: all 0.3s ease-in;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.page-content {
  padding-top: 70px;
  padding-bottom: 50px;
  color: #fff;
  background: rgba($color: #000000, $alpha: 0.35);
  min-height: calc(100vh - 88px);
  @include responsive($big-break) {
    padding-top: 110px;
    padding-bottom: 100px;
  }
}
@keyframes carAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// Responsive styles if needed
@include responsive($big-break) {
  body.nav-opened {
    overflow: hidden;
  }
}
